html {
    font-family: Arial;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html ::-webkit-scrollbar {
  display: none;
}

.sidebar {
    height: 3vw; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: brown;
    color:  #ffffe6;
    padding-top: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-end;
    gap: 25px;
}

.title {
    position: absolute;
    left: 1vw;
    top: 1vw;
    bottom: 1vw;
}

/* The navigation menu links */
.sidebar a {
    text-decoration: none;
    color: #ffffe6;
    font-weight: bold;
}

.sidebar a:hover {
    color: gold;
}

.main {
    diplay: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vw;
    padding: 20px;
    margin-right: auto;

}

.item-details {
    font-style: italic;
    font-size: 0.65em;
}

.review-text {
    margin-right: 25%;
    margin-left: 25%;
}

.reference {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: -10px;
    height: 2vw;
}

em {
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
}

.user-profile {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

li {
    list-style-type: none;
}

hr {
    width: 15%;
}


.publish {
  border-radius: 3px;
  background-color: white;
}
