html {
    font-family: Arial;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

html ::-webkit-scrollbar {
  display: none;
}

.sidebar {
    height: 3vw;
    width: 100%; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: brown;
    color:  #ffffe6;
    padding-top: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.title {
    position: absolute;
    left: 1vw;
    bottom: 0.5vw;
}

.sidebar a, .sidebar a:visited {
    text-decoration: none;
    color: #ffffe6;
    font-weight: bold;
}

.sidebar a:hover {
    color: gold;
}

.main {
    diplay: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vw;
    padding: 20px;
    margin-right: auto;

}

.item-details {
    font-style: italic;
    font-size: 0.65em;
}

.review-text {
    margin-right: 25%;
    margin-left: 25%;
}

.reference {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: -10px;
    height: 2vw;
}

em {
    font-weight: bold;
    font-style: normal;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
  color: red;
}

.user-profile {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

li {
    list-style-type: none;
}



.small {
    height: 2px !important;
    width: 5%;
    margin: auto !important;
}



.publish {
  border-radius: 3px;
  background-color: white;
}

hr {
    height: 3px !important;
    color: black !important;
    width: 15%;
    margin: auto !important;
}

.pagination-nav-bar {
    margin-left: auto;
    margin-right: auto;    
    width: fit-content;
}

.content-list {
    margin-left: auto;
    margin-right: auto;    
    width: fit-content;
}

.item-form {
    margin-left: auto;
    margin-right: auto;    
    width: fit-content;
}

.show-item {
    margin-left: auto;
    margin-right: auto;    
    width: 20%;
}

a.mute-link {
    text-decoration: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.05);      
    width: 100%;
    position: absolute;
    bottom: 0;
}

body {
    position: relative;
}

