{% extends 'base.html' %}

{% block content %}

<style>
    .ticket-picture {max-width: 15%;}
</style>  <!--TODO MODIFY-->


<h1> {{ heading_one }} </h1>

<div class="content-items">
{% if item_list %}
    {% for item in item_list %}
        {% if item.status or item.rating %}
            <p>
                <a href="{% url 'ticket-page' item.id %}" class="title">{{ item }}</a>
                {% if item.publication_year %}
                    ({{item.publication_year}})
                {% endif %}
                par {{ item.content_author }}
                <a href="{% url 'delete-ticket' item.id %}" > Supprimer </a> |
                <a href="{% url 'modify-ticket' item.id %}" > Modifier </a>
            </p>
            <br>
        {% endif %}
    {% endfor %}
{% else %}
    <i> {{ empty_message }} </i>
{% endif %}
</div>

{% endblock %}
