{% extends 'base.html' %}
{% block title %}LitReview - {{ heading_one }}{% endblock title %}
{% load blog_extras %}
{% block content %}


<h1> {{ heading_one }} </h1>
<hr><br><br>


<div class="content-items">
{% if item_list %}
    {% for item in item_list %}
            <p>
                {% if item.status == False and item|model_type == "Ticket" %}
                    <a> {{item.content_reference }}</a>
                {% else %}
                    <a href="{% url page_ref item.id %}" >{{ item.content_reference }}</a>
                {% endif %}

                {% add_paranthesis item.publication_year %}

                de <a href="{% url 'author-page' item.content_author %}">{{ item.content_author }}</a>

                {% if item.status != True and item|model_type == 'Ticket' %}
                    <span > - Ticket fermé -></span>
                    {% for review in review_list %}
                        {% if review.ticket.id == item.id %}
                            <a href="{% url 'show-review' review.id %}"> Critique </a>
                        {% endif %}
                    {% endfor %}
                {% else %}&nbsp;&nbsp;                        
                        <a class="mute-link" href="{% url modify_item item.id %}" > <button type="button" class="btn btn-primary btn-sm">Modifier</button> </a>
                        <a class="mute-link" href="{% url delete_item item.id %}" > <button type="button" class="btn btn-danger btn-sm">Supprimer</button> </a>
                {% endif %}
            </p>
            <br>
    {% endfor %}
{% else %}
    <i> {{ empty_message }} </i>
{% endif %}
</div>


{% endblock %}
