{% extends 'base.html' %}

{% block content %}


<h1> {{ heading_one }} </h1>
<hr><br><br>


<div class="content-items">
{% if item_list %}
    {% for item in item_list %}
            <p>
                {% if item.status != True %}
                    <a> {{ item.content_reference }} </a>
                {% else %}
                    <a href="{% url page_ref item.id %}" class="title">{{ item.content_reference }}</a>
                {% endif %}

                {% if item.publication_year %}
                    ({{item.publication_year}})
                {% endif %}
                par {{ item.content_author }}

                {% if item.status != True and item.to_class_name == 'Ticket' %}
                    <a> - Ticket fermé -> </a>
                    {% for review in review_list %}
                        {% if review.ticket.id == item.id %}
                            <a href="{% url 'show-review' review.id %}"> Critique </a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                        <a href="{% url delete_item item.id %}" > Supprimer </a> |
                        <a href="{% url modify_item item.id %}" > Modifier </a>
                {% endif %}
            </p>
            <br>

    {% endfor %}
{% else %}
    <i> {{ empty_message }} </i>
{% endif %}
</div>


{% endblock %}
