{% extends 'base.html' %}

{% block content %}

<h1> Profil de {{ user }} </h1>
<h3> {{ followers }} abonné{{ followers|pluralize:" ,s" }} {{ followings }} abonnement{{ followings|pluralize:" ,s"}} </h3>

<a href="{% url 'profile-tickets' %}">Mes tickets</a>
<br><br>
<a href="{% url 'profile-reviews' %}">Mes critiques</a>
<br><br>
<a href="{% url 'subscription-management' %}">Gérer mes abonnements</a>
<br><br>
<a href="{% url 'password_change' %}">Changer mon mots de passe</a>
<br><br>

{% endblock %}