{% extends 'base.html' %}

{% block content %}

<h1> Mes abonnements </h1>
<br><br>
{% if followers %}
    {% for follower in followers %}
                <div class="user-profile">
                <a href="{% url 'user-page' follower.id %}" class="user-infos">{{ follower }}</a>
                <form action='{% url "delete-subscription" follower.id %}' method='GET'>
                <button type='submit'> Se désabonner </button>
                </form>
                </div>
                <br>
    {% endfor %}
{% else %}
    <p> Vous ne suivez personne pour le moment </p>
{% endif %}

{% endblock %}

