{% extends 'base.html' %}

{% block content %}

<h1> Profil de {{ guest_id.username }}</h1>

{% if action == 'follow' %}
    <form action='{{guest_id.id}}/{{action}}' method='GET'>
    <button type='submit'> S'abonner </button>
    </form>
{% elif action == 'unfollow' %}
    <form action='{{guest_id.id}}/{{action}}' method='GET'>
    <button type='submit'> Se désabonner </button>
    </form>
{% elif action == 'self' %}
{% endif %}

<!--TODO MODIFY-->
<style>
.content-items {display: flex; flex-direction: column;}
.content-items a.title {font-weight: bold;}
</style>

<h2>Mes tickets</h2>
<div class="content-items">
{% if tickets %}
    {% for ticket in tickets %}
        {% if ticket.status %}
            <p><a href="{% url page_ref ticket.id %}" class="title">{{ ticket }}</a>
                {% if ticket.publication_year %}
                    ({{ticket.publication_year}})
                {% endif %}
                par {{ ticket.content_author }} </p>
            <br>
        {% endif %}
    {% endfor %}
{% else %}
    <i> Je n'ai pas encore ouvert de ticket </i>
{% endif %}
</div>

<h2>Mes critiques</h2>
<div class="content-items">
{% if reviews %}
    {% for review in reviews %}
        <p><a class="title" href="{% url 'show-review' review.id %}">{{ review }}</a>
            {% if review.publication_year %}
                ({{review.publication_year}})
            {% endif %}
            par {{ review.content_author }}
        </p>
        <br>
    {% endfor %}
{% else %}
    <i> Je n'ai pas encore publié de critique </i>
{% endif %}
</div>


<br>


{% endblock %}