{% extends 'base.html' %}
{% block title %}LitReview - Rechercher un utilisateur{% endblock title %}
{% block content %}


<h1> Utilisateurs : </h1>
<hr><br><br>

<form action="{% if not search_error %}search{% endif %}">
  <input type="text" name="fname" ><br>
    <br>
  <input class="publish" type="submit" value="Rechercher l'utilisateur">
</form>

{% if search_error %}
    <p>Le pseudonyme fournis est invalide.</p>
{% endif %}

{% for values in users_page_object %}

<br><br><br>
<div class="user_element">
  <a href="{% url 'user-page' values.1.user_object.id %}"><em>{{ values.1.user_object.username }}</em></a>
  &nbsp;-&nbsp;{{ values.1.ticket_number }} Ticket{{ values.1.ticket_number|pluralize:" ,s" }} -
  {{ values.1.review_number }} Critique{{ values.1.review_number|pluralize:" ,s" }} -
  {{ values.1.follower_number }} Abonné{{ values.1.follower_number|pluralize:" ,s" }} -
  {{ values.1.following_number }} Abonnement{{ values.1.following_number|pluralize:" ,s" }}
</div>

{% endfor %}

<br><br>

{% include 'partials/blog_snippet.html' with page_obj=users_page_object %}

{% endblock %}
