{% extends 'base.html' %}

{% block content %}


<h1> Utilisateurs : </h1>

<form action="{% if not search_error %}search{% endif %}">
  <input type="text" name="fname" ><br>
    <br>
  <input type="submit" value="Rechercher l'utilisateur">
</form>

{% if search_error %}
<p>Le pseudonyme fournis est invalide.</p>
{% endif %}

{% for key, values in user_infos.items %}
  <br><br><br>
  <div class="user_element">
      <a href="{% url 'user-page' values.user_object.id %}">{{ values.user_object.username }}</a>

      &nbsp;-&nbsp;{{ values.ticket_number }} Ticket{{ values.ticket_number|pluralize:" ,s" }} -
      {{ values.review_number }} Critique{{ values.review_number|pluralize:" ,s" }} -
      {{ values.follower_number }} Abonné{{ values.follower_number|pluralize:" ,s" }} -
      {{ values.following_number }} Abonnement{{ values.following_number|pluralize:" ,s" }}
  </div>
{% endfor %}




{% endblock %}
