{% extends 'base.html' %}
{% block title %}LitReview - Suppression {% endblock title %}
{% block content %}

<br><br>

<p><em>{{ item.content_reference }}</em> de {{ item.content_author }}</p>
<br>

<a>Confirmer vous la suppression de {{ item_name }} ? </a>
<br><br>

<div class="choices">
    <form action="{% url deletion_path item_id %}">
        <input class="publish" type="submit" value="Supprimer" />
    </form>

    <form action="{% url 'home' %}">
        <input class="publish" type="submit" value="Annuler" />
    </form>
</div>

{% endblock %}

