{% extends 'base.html' %}

{% block content %}

<style>.ticket-picture {max-width: 15%;}</style>  <!--TODO MODIFY-->

<h1> Critiques publiées </h1>

{% if review_objects %}
        {% for review in review_objects %}
            <p>
                <h2>
                    {{ review.content_reference }} - <a href="{{ review.id }}">{{ review.headline }}</a> -
                    {{ review.rating}}/5
                </h2>
                <p>Publié par {{ review.user }} le {{ review.time_created}}</p>
            </p>
                {% if review.content_picture %}
                    <div>
                        <img src="{{ review.content_picture.url }}" class="ticket-picture">
                    </div>
                {% endif %}
        {% endfor %}
    {% else %}
        <p> Pour le moment, aucune critique n'a été publiée. </p>
{% endif %}

{% endblock %}
