{% extends 'base.html' %}
{% block title %}LitReview - Critiques publiées {% endblock title %}
{% load blog_extras %}
{% block content %}


<h1> Critiques publiées </h1>
<hr><br><br>

<section class="content-list">
    {% if review_page_objects %}
        {% for review in review_page_objects %}
            <div class="card" style="width: 18rem;">
                {% if review.content_picture %}
                    <img src="{{ review.content_picture.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{ review.content_reference }}{% add_paranthesis review.publication_year %}</h5>
                <p class="card-text"><h6><a href="{% url 'author-page' review.content_author %}">{{ review.content_author }}</a></h6></p>
                <div class="item-details">
                    <p>Publié par <a href="{% url 'user-page' review.user.id %}">{{ review.user }}</a>
                        {% time_context review.time_created %}
                        {% if review.ticket.user %}
                            en réponse à <a href="{% url 'user-page' review.ticket.user.id %}">{{ review.ticket.user }}</a>
                        {% endif %}
                    </p>
                </div>
                <a href="{% url 'show-review' review.id %}" class="btn btn-primary">{{review.headline}} - {{ review.rating}}/5</a>
                </div>
            </div>
            <br>
          {% endfor %}

{% include 'partials/blog_snippet.html' with page_obj=review_page_objects %}

{% else %}
        <p> Pour le moment, aucune critique n'a été publiée. </p>
{% endif %}

</section>

{% endblock %}
