{% extends 'base.html' %}

{% block content %}

<style>
    .reference {display: flex; align-items: center; gap: 15px}
    .review-text {max-width: 50%}
    a {text-decoration: none}
</style>

<div class="reference">
    <h1>
    {{ review.content_reference }}
    {% if review.publication_year %}
            ({{review.publication_year}})
    {% endif %}
    </h1>
    <p>- {{ review.content_author }}</p>
</div>

{% if review.content_picture %}
    <img src="{{ review.content_picture.url }}" class="ticket-picture">
{% endif %}

<div class="users-infos">
    <p>Notes : {{ review.rating }}</p>
    <p>Titre de la critique : {{ review.headline }}</p>
<!--    TODO - Rajouter lien vers l'auteur -->
    <p>Auteur de la critique :
        <a href="{% url 'user-page' review.user.id %}">{{ review.user }}</a>
    </p>
    <p class="review-text">
       {{ review.body }}
    </p>
</div>



{% endblock %}
