{% extends 'base.html' %}
{% block title %}LitReview - {{ ticket_id.content_reference }}{% endblock title %}
{% load blog_extras %}
{% load crispy_forms_tags %}
{% block content %}

<div class="reference">
    <h1>
    {{ ticket_id.content_reference }}
    {% add_paranthesis ticket_id.publication_year %}
    </h1>
    <h3>&nbsp; de <a href="{% url 'author-page' ticket_id.content_author %}">{{ ticket_id.content_author }}</a></h3>
</div>

<br><br>

{% if ticket_id.content_picture %}
    <img src="{{ ticket_id.content_picture.url }}">
{% endif %}
<p class="item-details">Ticket ouvert {% time_context ticket_id.time_created %} par <a href="{% url 'user-page' ticket_id.user.id %}">{{ ticket_id.user }}</a></p>
<div class="show-item card text-center">
    <p class="card-text">
        {{ ticket_id.user_comment }}
    </p>
</div>
<br>

{% if user == ticket_id.user and ticket_id.status == True %}
    <a class="mute-link" href="{% url 'modify-ticket' ticket_id.id %}" > <button type="button" class="btn btn-primary btn-sm">Modifier</button> </a>
    <a class="mute-link" href="{% url 'delete-ticket' ticket_id.id %}" > <button type="button" class="btn btn-danger btn-sm">Supprimer</button> </a>
    <br><br>
{% endif %}

<h2>Publier votre critique</h2>
<form class="item-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" class="btn btn-success">Publier la critique</button>
</form>

{% endblock %}