{% extends 'base.html' %}
{% block title %}LitReview - {{ ticket_id.content_reference }}{% endblock title %}
{% load blog_extras %}
{% block content %}

<div class="reference">
    <h1>
    {{ ticket_id.content_reference }}
    {% add_paranthesis ticket_id.publication_year %}
    </h1>
    <h3>&nbsp; de <a href="{% url 'author-page' ticket_id.content_author %}">{{ ticket_id.content_author }}</a></h3>
</div>

<br><br>

{% if ticket_id.content_picture %}
    <img src="{{ ticket_id.content_picture.url }}">
{% endif %}
<p class="item-details">Ticket ouvert {% time_context ticket_id.time_created %} par <a href="{% url 'user-page' ticket_id.user.id %}">{{ ticket_id.user }}</a></p>

<h2>Publier votre critique</h2>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" >Publier</button>
</form>

{% endblock %}