{% extends 'base.html' %}
{% block title %}LitReview - Tickets ouverts {% endblock title %}
{% load blog_extras %}
{% block content %}



<h1> Tickets ouvert </h1>
<hr><br><br>


{% if tickets_page_obj %}
    {% for ticket in tickets_page_obj %}
        {% if ticket.status %}
            {% if ticket.content_picture %}
                <div class="post">
                    <img src="{{ ticket.content_picture.url }}" class="ticket-picture">
                </div>
            {% endif %}
            <div class="reference">
                <h2>
                    {{ ticket.content_reference }}
                    {% add_paranthesis ticket.publication_year %}
                </h2>
                <h4> &nbsp; de {{ ticket.content_author }}</h4>
            </div>
            <p>{{ticket.user_comment}}</p>
            <form action="{% url 'ticket-page' ticket.id %}">
              <input class="publish" type="submit" value="Publier une critique">
            </form>
            <br>
            <div class="item-details">
                Ticket ouvert par <a href="{% url 'user-page' ticket.user.id %}">{{ ticket.user }}</a>
                {% time_context ticket.time_created %}
            </div>
            <br><hr><br>
        {% endif %}
    {% endfor %}

{% include 'partials/blog_snippet.html' with page_obj=tickets_page_obj %}

{% else %}
    <p> Il n'y pas de ticket ouvert.</p>
{% endif %}


{% endblock %}
