{% extends 'base.html' %}

{% block content %}



<h1> Tickets ouvert </h1>

{% if ticket_objects %}
    {% for ticket in ticket_objects %}
        {% if ticket.status %}
            <div class="item">
                <div class="reference">
                    <h2>
                        {{ ticket.content_reference }}
                        {% if ticket.publication_year %}
                        ({{ticket.publication_year}})
                        {% endif %}
                    </h2>
                    <p>- {{ ticket.content_author }}</p>
                </div>
                <div class="post-infos">
                    Ticket ouvert par {{ ticket.user }} le {{ ticket.time_created}}
                </div>
                <a href="{% url 'ticket-page' ticket.id %}">Rédiger une critique</a>
                <p>{{ticket.user_comment}}</p>
                {% if ticket.content_picture %}
                <div class="post">
                    <img src="{{ ticket.content_picture.url }}" class="ticket-picture">
                </div>
            </div>
        {% endif %}
        <br>
        {% endif %}
    {% endfor %}
{% else %}
    <p> Il n'y pas de ticket ouvert.</p>
{% endif %}


{% endblock %}
