{% extends 'base.html' %}

{% block content %}

<style>.ticket-picture {max-width: 15%;}</style>  <!--TODO MODIFY-->


<h1> Tickets ouvert </h1>

{% if ticket_objects %}
    {% for ticket in ticket_objects %}
        {% if ticket.status %}
            <p>
                <h2>{{ ticket }}</h2>
                Ticket ouvert par {{ ticket.ticket_author }} le {{ ticket.time_created}}
            </p>
            <a href="{% url 'ticket-page' ticket.id %}">Rédiger une critique</a>
            <p>{{ticket.user_comment}}</p>
            {% if ticket.content_picture %}
            <div class="post">
                <img src="{{ ticket.content_picture.url }}" class="ticket-picture">
            </div>
        {% endif %}
        <br>
        {% endif %}
    {% endfor %}
{% else %}
    <p> Il n'y pas de ticket ouvert.</p>
{% endif %}


{% endblock %}
